@import url('https://fonts.googleapis.com/css2?family=Anta&family=Madimi+One&display=swap');

.header {
    font-size: 30px;
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: #ffffff00;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.logout {
    position: absolute;
    top: 2px;
    right: 1%;
    color: #000;
    text-decoration: none;
    border: solid;
    padding-left: 1px;
    padding-right: 1px;
}

.first-page {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.main-heading {
    margin-top: 2rem;
    font-size: 11vb;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    
}

.login {
    margin-top: 10rem;
    margin-right: 0.5rem;
    border: solid;
    border-radius: 20px;
    border-color: #000;
}

.login-heading {
    font-size: 2rem;
    font-family: Anta;
    text-align: center;
}
.username, .password {
    font-family: Anta;
    margin-left: 1rem;
    margin-right: 1rem;
}

.user-input {
    width: 90%;
    border-radius: 18px;
    padding: .7rem;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 8%;
}

.signin-button {
    border-color: #000;
    border-radius: 18px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    transition: background-color 1s;
}

.signin-button:hover {
    background-color: #0f0d0d;
    color: #fff;
}

.signin-button a:link {
    color: #000;
    text-decoration: none;
    transition: color 1s;
}
.signin-button a:link:hover {
    color: #fff;
    text-decoration: none;
}